/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.shipping-input-full-width {
    width: 100%;
}

.shipping-warn-text::before {
    content: '*';
}

.shipping-warn-text {
    margin-top: -10px;
    font-size: 14px;
    font-style: italic;
}
