.app-login-page {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url("../../../assets/background-image/background.png");
    background-size: cover;
}

.app-login-box {
    position: relative;

    &-title {
        display: flex;
        width: 850px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 244px;
        background: #F2A47C 0% 0% no-repeat padding-box;
        border-radius: 59px;
        opacity: 0.9;
        font-size: 40px;
        color: white;
    }

    &-button {
        position: absolute;
        width: 100%;
        top: 75%;
        text-align: center;
    animation: wiggle 2s linear infinite;
}
}

.login-button {
    width: 500px;
}

/* Keyframes */
@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%, 100% {
        transform: rotateZ(0);
    }
}
