.global-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 34px;

    &-logo {
        height: 37px;
        cursor: pointer;
    }
}

.rotate {
    transition: all 0.3s ease;
}

.rotate:hover {
    -webkit-transform: rotateZ(-20deg);
    -ms-transform: rotateZ(-20deg);
    transform: rotateZ(-20deg);
}
