<section class="body-wrapper">
    <app-global-header profileImageUrl='https://pbs.twimg.com/profile_images/1055263632861343745/vIqzOHXj.jpg' profileUserName='Carlos'></app-global-header>
    <div class="homepage-banner">
        <img class="homepage-banner-image" src="../../../assets/homepage-landing/homepage-hero.png" alt="">
        <div class="homepage-banner-search">
            <app-general-input inputTitle='Busqueda' inputType='principal'></app-general-input>
        </div>
    </div>
    <section class="homepage-categories">
        <app-general-item-box *ngFor="let category of categories; let i = index" class="homepage-item-box" itemBoxColor={{getItemBoxColor(i)}}
            itemText={{category.Name}} itemImageUrl={{getItemImageUrl(category?.Picture?.url)}} itemType='default'>
        </app-general-item-box>
    </section>
    <div class="homepage-cta">
        <app-general-cta (click)="viewMoreProducts()" buttonTitle="Ver más" buttonType='default'></app-general-cta>
    </div>
</section>

<!-- <router-outlet></router-outlet> -->